.button {
  background-color:#267D1E;
  border-radius:15px;
  border:1px solid black;
  display:inline-block;
  color:black;
  font-size:15px;
  padding:11px 33px;
  text-decoration:none;
}


.button-secondary {
  background-color: black;
  border-radius:28px;
  border:1px solid #267D1E;
  display:inline-block;
  color:#267D1E;
  font-size:15px;
  padding:11px 33px;
  text-decoration:none;
}

button:disabled {
  background-color: grey;
}

button:hover:enabled {
  background-color: #44D62C;
}

button:active:enabled {
  background-color: #267D1E;
}


