.button {
  background-color: #267d1e;
  border-radius: 0.5rem;
  border: 1px solid black;
  display: inline-block;
  color: black;
  font-size: 15px;
  padding: 11px 33px;
  text-decoration: none;
}

.button-secondary {
  background-color: black;
  border-radius: 0.5rem;
  border: 1px solid #267d1e;
  display: inline-block;
  color: #267d1e;
  font-size: 15px;
  padding: 11px 33px;
  text-decoration: none;
}

.button-alert{
  background-color: orange;
  border-radius: 0.5rem;
  display: inline-block;
  color: black;
  font-size: 15px;
  padding: 11px 33px;
  text-decoration: none;
}

button:disabled {
  background-color: grey;
}

button:hover:enabled {
  background-color: #44d62c;
}

button:active:enabled {
  background-color: #267d1e;
}
