.mini-card {
    display: flex;
    flex-direction: row;
    max-width: 40em;
    box-shadow: 0 19px 38px rgba(26,199,24,100), 0 15px 12px rgba(26,199,24,100);
    border-radius: 20px;
    padding-right: 1em;
    padding-bottom: 1em;
    gap: 1em;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-left: 1em;
    gap: 10px;
}

.information{
    display: flex;
    justify-content: center;
}

.user-image-container {
    display: flex;
    justify-content: center;
}


.avatar {
    border-radius: 50%;
    width : 50px;
    height : 50px;
    margin-top: 10px;
    margin-left: 1rem;
}

#cross {
    width: 10px;
    height: 10px;
    position: relative;
 }
 
 #cross:before, #cross:after {
   content: "";
   position: absolute;
   z-index: -1;
   background: green;
 }
 
 #cross:before {
   left: 50%;
   width: 30%;
   margin-left: -15%;
   height: 100%;
 }
 
 #cross:after {
   top: 50%;
   height: 30%;
   margin-top: -15%;
   width: 100%;
 }




 #cross-red {
    width: 10px;
    height: 10px;
    position: relative;
 }
 
 #cross-red:before, #cross-red:after {
   content: "";
   position: absolute;
   z-index: -1;
   background: red;
 }
 
 #cross-red:before {
   left: 50%;
   width: 30%;
   margin-left: -15%;
   height: 100%;
 }
 
 #cross-red:after {
   top: 50%;
   height: 30%;
   margin-top: -15%;
   width: 100%;
 }