<div class="container">
  <div class="image-side">
    <img class="login-img" src="assets/login_image.jpg" />
  </div>
  <div class="form-side">
    <form [formGroup]="form">
      <legend class="login-legend">Identifiez vous</legend>
      <div class="input-container">
        <label for="email">Adresse email</label>
        <input
          class="input-field"
          id="email"
          placeholder="mon-email@gmail.com"
          type="email"
          formControlName="email"
        />
      </div>
      <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="error-message">
        Entrez une adresse email
      </div>
      <div class="input-container">
        <label>Mot de passe</label>
        <input
          class="input-field"
          placeholder="password"
          name="password"
          formControlName="password"
          type="password"
        />
      </div>
      <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="error-message">
        Entrez un mot de passe
      </div>
      <div class="form-buttons">
        <app-button
          label="Connection"
          (customClick)="login()"
          [disabled]="form.invalid"
        ></app-button>
      </div>
      <div class="error-message">{{ errorMessage }}</div>
      <p><a (click)="redirectToRegister()">Cliquez ici pour vous inscrire</a></p>
    </form>
  </div>
</div>
