
.card {
  background-color: #5050a5;
  border-radius: 10px;
  max-width: 400px;
  margin : auto;
  padding: 1em

}
.card-5 {
  box-shadow: 0 19px 38px rgba(26,199,24,100), 0 15px 12px rgba(26,199,24,100);
}
