.mini-card {
  display: flex;
  flex-direction: row;
  max-width: 40em;
  /*box-shadow: 0 5px 5px rgba(26, 199, 24, 100), 0 5px 5px rgba(26, 199, 24, 100);*/
  border-radius: 0.5rem;
  border: #267d1e 1px solid;
  padding-right: 1em;
  padding-bottom: 1em;
  transition: 0.2s;
  gap: 1em;
}

.mini-card:hover {
  box-shadow: 0 3px 3px rgba(26, 199, 24, 100);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 1em;
  gap: 10px;
}

.information {
  display: flex;
  justify-content: center;
}

.user-image-container {
  display: flex;
  justify-content: center;
}

.avatar {
  border-radius: 0.5rem;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 1rem;
}
