<div>
  <mat-card class="card-5 card" style="background-color: black;  border-radius: 10px; height: 200px; width: 200px">
    <img  [src]="photoUrl"  mat-card-image style="margin: auto" height="50px" width="50px">
    <mat-card-content>
      <p style="color: #1AC718; text-align: center; margin: 3px"> {{ username }} </p>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: center;">
      <button mat-raised-button color="primary"><h3>Ajouter</h3></button>
      <button mat-raised-button color="grey"><h3>Détails</h3></button>
    </mat-card-actions>
  </mat-card>
</div>
