
.card {
  background-color: black;
  border-radius: 10px;
  max-width: 250px;
  min-height: 250px;
  max-height: 400px;
  margin : 15px;
  padding: 1em

}
.card-5 {
  box-shadow: 0 19px 38px rgba(26,199,24,100), 0 15px 12px rgba(26,199,24,100);
}

.card-image {
  margin: 5px;
  width: 200px;
  height: 200px;
}
