
<div class="game-card">
    <div class="gami-img-container">
        <img  src="../../../assets/placeholders/no_player_image.jpg" alt="game_image">
    </div>
    <div class="game-infomation-container">
        <div class="information-div">
            <p>jeux : call of duty</p>
        </div>
        <div class="information-div">
            <p>Createur du lobby : john williams</p>
        </div>
        <div class="information-div">
            <p>Nombre de joueur : 50/100</p>
        </div>
    </div>
    <div class="button-container">
        <div>
            <button id="view-button">VOIRE</button>
        </div>
        <div>
            <button id="status-button">STATUS</button>
        </div>
    </div>
</div>