<div class="page-container">
  <div class="left-info">
    <img class="user-img" src="assets/placeholders/no_player_image.jpg"  alt=""/>
    <div class="user-info">
      <div class="username">
        <span style="color: #267d1e">Nom d'utilisateur</span>
        <div>{{ user?.nickname }}</div>
      </div>
      <div class="username">
        <div style="color: #267d1e">Email: </div>
        <div>{{ user?.email }}</div>
      </div>

      <div *ngIf="!isCurrentUser">
        <div style="text-align: center;" *ngIf="friendShipStatus === 0">
          <div style="margin-block: 2rem">
            <app-button label="Demander en amis" (customClick)="askForFriend()"></app-button>
          </div>
        </div>
        <div style="text-align: center" *ngIf="friendShipStatus === 1">
          <span class="already-friend">Vous êtes amis</span>
        </div>
        <div style="text-align: center" *ngIf="friendShipStatus === 2">
          <div style="margin-block: 2rem">
            Cet utilisateur vous a demander en amis
            <div style="display: flex; justify-content: space-around; margin-top: 1rem">
              <app-button label="Accepter" (customClick)="acceptRequest()"></app-button>
              <app-button label="Refuser" [color]="ButtonColor.ALERT" (customClick)="denieRequest()"></app-button>
            </div>
          </div>
        </div>
        <div style="text-align: center" *ngIf="friendShipStatus === 3">
          <span class="request-sent">En attente d'une réponse</span>
        </div>
      </div>
    </div>
  </div>

  <div class="central-info">
    <div *ngIf="isCurrentUser || friendShipStatus === 1; else visibleProfile">
      <h2>Les salons du joueurs</h2>
      <app-user-lobbies-list [userId]="currentId"></app-user-lobbies-list>
    </div>
    <ng-template #visibleProfile>
      <div class="not-visible">
        <svg fill="#267d1e" height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve" stroke="#267d1e"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="XMLID_509_"> <path id="XMLID_510_" d="M65,330h200c8.284,0,15-6.716,15-15V145c0-8.284-6.716-15-15-15h-15V85c0-46.869-38.131-85-85-85 S80,38.131,80,85v45H65c-8.284,0-15,6.716-15,15v170C50,323.284,56.716,330,65,330z M180,234.986V255c0,8.284-6.716,15-15,15 s-15-6.716-15-15v-20.014c-6.068-4.565-10-11.824-10-19.986c0-13.785,11.215-25,25-25s25,11.215,25,25 C190,223.162,186.068,230.421,180,234.986z M110,85c0-30.327,24.673-55,55-55s55,24.673,55,55v45H110V85z"></path> </g> </g></svg>
        Vous devez être amis pour avoir accès a ce contenu
      </div>
    </ng-template>
  </div>
  <!-- <div class="right-info">
    <div *ngIf="isCurrentUser; else hiddenRight">
      profil visible
    </div>
    <ng-template #hiddenRight>
      profil non visible
    </ng-template>
  </div> -->
<!--  <div class="profile-container">-->
<!--    <div class="player-information-container">-->

<!--      <div class="text-information">-->
<!--        <div>-->
<!--          <h1>Informations</h1>-->
<!--
<!--        </div>-->

<!--        <ul class="information-list">-->
<!--          <li>Email : {{ user?.email }}</li>-->
<!--          <li>Pseudo : {{ user?.nickname }}</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div *ngIf="isCurrentUser">-->
<!--    <div class="carrouselle-container">-->
<!--      <div class="carrouselle-title-container">-->
<!--        <h1>liste d'ami</h1>-->
<!--      </div>-->
<!--      <div class="card-container">-->
<!--        <div *ngFor="let friend of myFriends | slice : 0 : 5; let i = index" class="card-div">-->
<!--          <app-user-card [user]="friend"></app-user-card>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="carrouselle-container">-->
<!--      <div class="carrouselle-title-container">-->
<!--        <h1>Demande d'ami</h1>-->
<!--      </div>-->
<!--      <div class="card-container">-->
<!--        <div-->
<!--          *ngFor="let fr of receivedFriendRequests | slice : 0 : 5; let i = index"-->
<!--          class="card-div"-->
<!--        >-->
<!--          <app-user-card [user]="fr.from"></app-user-card>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
