<div class="page-container">
  <div class="profile-container">
    <div class="player-information-container">
      <div class="img-pseudo-container">
        <img class="user-img" src="assets/placeholders/no_player_image.jpg" />
        <h1 class="user-pseudo">{{ user?.nickname }}</h1>
      </div>
      <div class="text-information">
        <div>
          <h1>Informations</h1>
          <div *ngIf="!isCurrentUser">
            <div *ngIf="friendShipStatus === 0">
              <button mat-raised-button (click)="askForFriend()">Ask for friend</button>
            </div>
            <div *ngIf="friendShipStatus === 1">Already friends</div>
            <div *ngIf="friendShipStatus === 2">
              Request received : click here to accept
              <button mat-raised-button (click)="acceptRequest()">Accept</button>
              <button mat-raised-button color="warn" (click)="denieRequest()">Denie</button>
            </div>
            <div *ngIf="friendShipStatus === 3">Request Sent</div>
          </div>
        </div>

        <ul class="information-list">
          <li>Email : {{ user?.email }}</li>
          <li>Pseudo : {{ user?.nickname }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="isCurrentUser">
    <div class="carrouselle-container">
      <div class="carrouselle-title-container">
        <h1>liste d'ami</h1>
      </div>
      <div class="card-container">
        <div *ngFor="let friend of myFriends | slice : 0 : 5; let i = index" class="card-div">
          <app-user-card [user]="friend"></app-user-card>
        </div>
      </div>
    </div>
    <div class="carrouselle-container">
      <div class="carrouselle-title-container">
        <h1>Demande d'ami</h1>
      </div>
      <div class="card-container">
        <div
          *ngFor="let fr of receivedFriendRequests | slice : 0 : 5; let i = index"
          class="card-div"
        >
          <app-user-card [user]="fr.from"></app-user-card>
        </div>
      </div>
    </div>
  </div>
</div>
