<app-navbar></app-navbar>
<div class="profile-container">
    <div class="player-information-container">
        <div class="img-pseudo-container">
            <img class="user-img" src="assets/placeholders/no_player_image.jpg">
            <h1 class="user-pseudo">Pseudo</h1>
        </div>
        <div class="text-information">
            <h1>
                Informations
            </h1>
            <ul class="information-list">
                <li>
                    Email :
                </li>
                <li>
                    Pseudo :
                </li>
            </ul>
        <div>
    </div>
</div>
