.page-container {
  padding-top: 2rem;
  padding-inline: 15rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.left-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 0 3px 8px #267d1e;
  border-radius: 0.5rem;
}

.user-info {
  margin-block: 1rem;
}

.user-info .username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
  padding-block: 0.2rem;
}



.request-sent, .already-friend {
  border-radius: 0.5rem;
  border: 1px solid black;
  display: inline-block;
  color: black;
  font-size: 15px;
  margin-block: 2rem;
  padding: 11px 33px;
  text-decoration: none;
}

.request-sent {
  background-color: yellow;
}

.already-friend {
  background-color: #267d1e;
}

.central-info {
  flex: 3;
}

.right-info {
  flex: 1;
}

.user-img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 3px 8px #267d1e;
}
