.page-container {
  display: flex;
  flex-direction: column;
}

.profile-container {
  display: flex;
}

.player-information-container {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-top: 5%;
}

.img-pseudo-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-img {
  padding: 10px;
  width: 200px;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 8px #267d1e;
  margin-bottom: 20px;
}

.user-pseudo {
  text-align: center;
}

.text-information {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  margin-right: 5em;
  padding: 5px;
}

h1 {
  color: #267d1e;
  margin: 0%;
}

.information-list {
  margin-top: 15px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  margin: 30px;
}

.carrouselle-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  padding-top: 5px;
  padding-bottom: 3em;
  background-color: #404040;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.carrouselle-title-container {
  display: flex;
  justify-content: left;
  margin-left: 3em;
  margin-top: 1em;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: center;
}

.card-div {
  margin: 5px;
  padding: 5px;
}
