.game-detail-page {
  padding-inline: 15rem;
}

.game-bg-wall {
  width: 100%;
  height: 30%;
  margin-block: 2rem;
  border-radius: 0.5rem;
  justify-content: center;
}

.game-info {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

.game-title {
  margin-left: 10px;
}

.game-description {
  margin-top: 20px;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.lobbies-list {
  padding-bottom: 10px;
}

.create-lobby-button {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}
