.container-list-friends-game {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    height: 100%;
    gap: 2em;
    margin: 0; 
    padding: 0; 
}

.list-player-mini-carde {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    min-height: 100vh;
    min-width: 15vh;
    border-right: 2px solid green;
}

.table-container {
    padding-top: 2em;
   
}

.titre {
    margin-left: 2em;
}
