<div class="container">
  <div class="lobby-game-title">
    <img src="{{this.lobby?.game?.imageUrl}}" alt="" class="game-image">
    <h1>{{this.lobby?.game?.name}}</h1>
    <app-button *ngIf="canJoin()" class="join-lobby-button" label="Rejoindre" (customClick)="joinLobby()"></app-button>
  </div>
  <div class="game-lobby-container">
    <div  class="game-lobby-detail">
      <app-lobby-info *ngIf="isJoined(); else elseBlock" [lobby]="lobby" [currentUser]="currentUser"></app-lobby-info>
      <ng-template #elseBlock>
        <div>
          <h2>Vous devez rejoindre la partie pour voir plus d'informations !</h2>
        </div>
      </ng-template>
    </div>
    <div class="game-lobby-game">
      <div *ngIf="lobby?.lobbyGamingData !== undefined; else notStarted" class="game-renderer">
        <app-lobby-play-game
          [currentPlayerNumber]="getMyPlayerNumber()"
          [gamingData]="lobby?.lobbyGamingData"
          (sendInstruction)="sendInstruction($event)"
        >
        </app-lobby-play-game>
      </div>
      <ng-template #notStarted>
        <div  *ngIf="isGameMaster(); else waitGameStarts">
          <app-lobby-init-form [fields]="lobby?.game?.args" (sendInitGame)="startGame($event)"></app-lobby-init-form>
        </div>
        <ng-template #waitGameStarts >
          Veuillez patientez, le jeu n'as pas été lancer par l'hôte de la partie
        </ng-template>

      </ng-template>
    </div>
  </div>
</div>

