<section class="msger">
  <header class="msger-header">
    <div class="msger-header-title">
      <i class="fas fa-comment-alt"></i> SimpleChat
    </div>
    <div class="msger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>

  <ng-container *ngFor="let message of messages">
    <div class="msg" [ngClass]="{'left-msg': message.sender?.id !== currentUser?.id, 'right-msg': message.sender?.id === currentUser?.id}">
      <div class="msg-img" [ngStyle]="{'background-image': 'url(https://image.flaticon.com/icons/svg/327/327779.svg)'}" *ngIf="message.sender?.id !== currentUser?.id"></div>
      <div class="msg-img" [ngStyle]="{'background-image': 'url(https://image.flaticon.com/icons/svg/145/145867.svg)'}" *ngIf="message.sender?.id === currentUser?.id"></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">
            {{ message.sender.nickname }}
          </div>
          <div class="msg-info-time">
            {{ message.date }}
          </div>
        </div>

        <div class="msg-text">
          {{ message.content }}
        </div>
      </div>
    </div>
  </ng-container>

  <form class="msger-inputarea">
    <input type="text" class="msger-input" placeholder="Enter your message...">
    <button type="submit" class="msger-send-btn">Send</button>
  </form>
</section>
