
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$green-palette: (
  50: #92E57A,
  100: #78E060,
  200: #5EDB46,
  300: #44D62C,
  400: #3ABF28,
  500: #309E23,
  600: #267D1E,
  700: #1E5C19,
  800: #154B14,
  900: #0B3A0F,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
  )
);

$green-accent-palette: (
  A100: #A2F89F,
  A200: #6FFC6A,
  A400: #3DE33B,
  A700: #1AC718,
  contrast: (
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$game7-app-primary: mat.define-palette(mat.$green-palette);
$game7-app-accent: mat.define-palette(mat.$green-palette);

// The warn palette is optional (defaults to red).
$game7-app-warn: mat.define-palette(mat.$red-palette);

$game7-typography: mat.define-typography-config(
  $font-family: 'Open Sans',
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$game7-app-theme: mat.define-light-theme((
  color: (
    primary: $game7-app-primary,
    accent: $game7-app-accent,
    warn: $game7-app-warn,
  ),
  typography: $game7-typography
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($game7-app-theme);

