html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Roboto';
}

/* TODO: custom theme instead of this*/
button {
  font-family: 'Roboto';
  font-size: 15px;
}
