
<div class="register-container">
  <fieldset>
    <legend>Inscription</legend>
    <form [formGroup]="form" (ngSubmit)="signUp()" >
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Entrer votre email</mat-label>
          <input
            type="text"
            matInput placeholder="pat@example.com"
            formControlName="email"
            required
          >
          <mat-error *ngIf="emailCheck">
            {{""}}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Entrer votre mot de passe</mat-label>
          <input
            type="password"
            matInput placeholder="mot de passe"
            formControlName="password" required>
          <mat-error *ngIf="passwordCheck">
            {{"getErrorMessage"}}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Confirmer votre mot de passe</mat-label>
          <input
            type="password"
            matInput placeholder=" confirmation mot de passe"
            formControlName="confirmPassword"
            required
          >
          <mat-error *ngIf="confirmPasswordCheck">{{"getErrorMessage"}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" [disabled]="form.invalid">Submit</button>
      </div>
    </form>
  </fieldset>
</div>


